<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration - Iguana Republic</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/elements/buttons.css">
</head>
<body>
    <section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">Iguana Republic</span>
		</a>
		<ul class="side-menu top">
			<li >
				<a href="/dashboard">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li class="active">
				<a href="/dashboard/products">
					<i class='bx bxs-shopping-bag' ></i>
					<span class="text">Products</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/clients">
					<i class='bx bxs-group' ></i>
					<span class="text">Clients</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/orders">
					<i class='bx bx-food-menu'></i>
					<span class="text">Orders</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

    <section id="content">
        <nav>
            <i class='bx bx-menu' ></i>
            <a href="#" class="nav-link">Products</a>

            <form action="#">
                <div class="form-input">
                    <input type="search" name="" id="">
                    <button type="submit" class="search"><i class='bx bx-search' ></i></button>
                </div>
            </form>

            <input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
        </nav>

        <main>
            <div class="head-title">
				<div class="left">
					<h1>Products</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Products</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
			</div>

            <div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Categories</h3>
                        <div class="head-title">
                            <a href="#" class="btn-download">
                                <i class='bx bxs-cloud-download' ></i>
                                <span class="text">New Category</span>
                            </a>
                        </div>
					</div>
					<table>
						<thead>
							<tr>
								<th>Id</th>
								<th>Category</th>
								<th>Description</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Capucchino</td>
								<td><span>Es un capucchino</span></td>
								<td>
                                    <a href="#" class="button-normal">Modificar</a>
                                    <a href="#" class="button-danger">Eliminar</a>
                                </td>
							</tr>
						</tbody>
					</table>
				</div>
            </div>

            <div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Products</h3>
						

                        <div class="head-title" style="margin-top: 20px;">
                            <a href="#" class="btn-download">
                                <i class='bx bxs-cloud-download' ></i>
                                <span class="text">New Product</span>
                            </a>
                        </div>
					</div>
					<table>
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Price</th>
								<th>Stock</th>
								<th>Category</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Cafe</td>
								<td>5$</td>
								<td>100</td>
								<td>Capucchino</td>
								<td>
                                    <a href="#" class="button-normal">Modificar</a>
                                    <a href="#" class="button-danger">Eliminar</a>
                                </td>
							</tr>
						</tbody>
					</table>
				</div>
            </div>
        </main>
    </section>
</body>