<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Iguana Republic</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body id="welcome">
    <%- include('header', {}); %>

        <!-- Start menu-list Area -->
        <section class="menu-list-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div style="margin-top: 50px" class="menu-cat">
                            <h1>Your Cart</h1>
                            <p style="color: brown;">Review and manage the items in your cart.</p>
                        </div>
                        <div class="single-menu-list">
                            <div class="title-wrap d-flex justify-content-between">
                                <h4 style="color: brown;">Cart Items</h4>
                                <hr class="vertical-line">
                                <h4 style="color: brown;">Price</h4>


                            </div>
                            <div style="margin-top: 30px" class="content-wrap">
                                <ul class="price-list">
                                    <li class="d-flex justify-content-between">
                                    <li class="d-flex justify-content-between">
                                        <p>Product 1</p>
                                        <hr>
                                        <p>$19.99</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section>
            <div style="position: relative;">
                <div style="align-items: flex-end; position: absolute; right: 20%;" class="cart-btn mt-60">
                    <a href="#" class="btn btn-success template-btn">Proceed to Checkout</a>
                </div>
            </div>
        </section>
        <!-- Start footer Area -->
        <footer class="footer-area section-gap">
            <div style="margin-top: 100px" class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <a href="/aboutUs#contact">
                                <h4 style="color: brown;">About Us</h4>
                            </a>
                            <p>
                                For more information, please go here!
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <a href="/aboutUs#contact">
                                <h4 style="color: brown;">Contact Us</h4>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer Area -->
</body>

</html>