<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Iguana Republic</title>

	<!-- CSS -->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
	<link rel="stylesheet" href="/css/newNav.css">
	<link rel="stylesheet" href="/css/newIndex.css">
</head>
<body>
	<!-- Loader -->
	<div class="load" id="load">
		<img src="/img/loadcoffee.gif" class="load__gif" alt="load image">
	</div>

	<!-- Navbar -->
	<header class="header" id="header">
		<div class="header__border"></div>

		<nav class="nav container">
			<a class="nav__logo">
				<img src="/img/logo.png" alt="">
			</a>

			<div class="nav__menu">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#home" class="nav__link active-link">
							<i class="ri-home-5-fill"></i>
							<span>Home</span>
						</a>
					</li>

					<li class="nav__item">
						<a href="#about" class="nav__link">
							<i class="ri-award-fill"></i>
							<span>About</span>
						</a>
					</li>

					<li class="nav__item">
						<a href="#steps" class="nav__link">
							<i class="ri-message-3-fill"></i>
							<span>Steps</span>
						</a>
					</li>

					<li class="nav__item">
						<a href="/products" class="nav__link">
							<i class="ri-shopping-bag-4-fill"></i>
							<span>Shop</span>
						</a>
					</li>

					<li class="nav__item">
						<a href="/login" class="nav__link">
							<i class="ri-login-box-fill"></i>
							<span>Login</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- Main content -->
	<main class="main">
		<!-- Home -->
		<section class="home section" id="home">
			<div class="home__container container grid">
				<div class="home__data">
					<h3 class="home__subtitle">
						EXCEPTIONAL QUALITY
					</h3>

					<h1 class="home__title">
						It's time for a <br>
						good coffe

						<img src="/img/home-coffee-title.png" alt="home image">
					</h1>

					<p class="home__description">
						Each select coffee beans reflects our commitment
						to Costa Rican coffee growers, who bring the best
						select coffee to your table.
					</p>

					<a href="/products" class="button">
						Get Started <i class="ri-arrow-right-s-line"></i>
					</a>
				</div>

				<img src="/img/home-coffee.png" class="home__img" alt="home image">
			</div>
		</section>

		<!-- Products -->
		<section class="products">
			<div class="products__bg section">
				<div class="products__container container grid">
					<div class="products__data">
						<a href="#about" class="products__button">
							Scroll Down <i class="ri-arrow-down-s-line"></i>
						</a>

						<p class="products__description">
							We strive to form deep partnerships with farmers
							from all over the world to create perspective
							together and form healthy working relationships
							built on trust and respect.
						</p>
					</div>

					<div class="products__content">
						<article class="products__card">
							<img src="/img/product-coffee-1.png" class="products__img" alt="product image">
							<h3 class="products__name">Classic Coffee</h3>
							<span class="products__price">$17.90</span>
						</article>

						<article class="products__card">
							<img src="/img/product-coffee-2.png" class="products__img" alt="product image">
							<h3 class="products__name">Black Coffee</h3>
							<span class="products__price">$24.90</span>
						</article>

						<article class="products__card">
							<img src="/img/product-coffee-3.png" class="products__img" alt="product image">
							<h3 class="products__name">Strong Coffee</h3>
							<span class="products__price">$32.90</span>
						</article>
					</div>
				</div>
			</div>
		</section>

		<!-- About -->
		<section class="about" id="about">
			<div class="about__bg section">
				<div class="about__container container grid">
					<div class="about__data">
						<h2 class="section__title">
							Our history
						</h2>

						<p class="about__description">
							Iguana Republic was born from the passionate desire to bring Costa Rica's coffee culture to
                            the world. With a focus on excellence and authenticity, the project began by reaching out to
                            suppliers from the country's finest estates and carefully selecting the most exquisite
                            coffee beans.

							The mission was clear: to share Costa Rica's rich coffee heritage with coffee lovers
                            worldwide, offering not just a beverage, but a sensory experience that captured the very
                            essence of the mountainous and fertile lands where this precious bean is cultivated.

							As Iguana Republic grew, so did its commitment to sustainability and fair trade, ensuring
                            that every cup of coffee was not only delicious but also ethical and responsible. Over time, 
							the brand has become a symbol of quality and national pride, elevating the
                            prestige of Costa Rican coffee to new heights on the global stage.
						</p>
					</div>

					<img src="https://content.presspage.com/uploads/685/c1920_ejecafetero-2.jpg?58010" alt="" class="about__img">
				</div>
				<br><br>
				<div class="about__container container grid">
					<div class="about__data">
						<h2 class="section__title">
							Our mission
						</h2>

						<p class="about__description">
							Our Misión and Values at Iguana Republic, we are committed to offering our customers not just
                            any coffee, but "The Coffee" – the most delicious and authentic coffee experience.

							We strive to select the highest quality coffee beans, sustainably grown by our dedicated
                            suppliers in Costa Rica for the world.

							We are dedicated to sharing and showcasing the culture and passion for Costa Rican coffee
                            with the world, raising the standards of quality and service in the coffee industry, and
                            creating memorable moments for our customers with every cup.
						</p>
					</div>

					<img src="https://perfectdailygrind.com/es/wp-content/uploads/sites/2/2021/02/finca-de-cafe%CC%81-grande-1.jpg" alt="" class="about__img">
				</div>
				<br><br>
				<div class="about__container container grid">
					<div class="about__data">
						<h2 class="section__title">
							Our Philosophy
						</h2>

						<p class="about__description">
							Our Philosophy: Iguana Republic is based on the belief that each cup of coffee is more than
                            just a simple drink. It is a unique experience that reflects our dedication to excellence
                            and our passion for Costa Rican coffee.

							We strive to offer exceptional customer service, focusing on the satisfaction and well-being
                            of our customers in every interaction.

							We are committed to being leaders in the coffee industry, fostering innovation,
                            sustainability, and equity in all our operations. Our work philosophy focuses on creating an
                            authentic connection with our customers, providing memorable moments and a unique experience
                            in every cup of "The Coffee".
						</p>
					</div>

					<img src="https://cafeslua.com/img/i/cafe-finca_13929.webp" alt="" class="about__img">
				</div>
			</div>
		</section>

		<!-- Steps -->
		<section class="steps" id="steps">
			<div class="steps__bg section">
				<h2 class="section__title">
					Steps of manufacturing our products
				</h2>

				<div class="steps__container container grid">
					<img src="/img/coffee-beans-bg.png" alt="steps bg" class="steps__bg-img">

					<div class="steps__content">
						<img src="/img/steps-curve-line.svg" alt="" class="steps__border">
						<div class="steps__card">
							<div class="steps__circle">
								<div class="steps__subcircle">
									01
								</div>

								<img src="/img/steps-green-coffee.png" class="steps__img" alt="steps image">
							</div>

							<p class="steps__description">
								Harvest occurs annually when the coffee 
								beans reach maturity and are collected 
								for processing.
							</p>
						</div>

						<div class="steps__card steps__card-move">
							<div class="steps__circle">
								<div class="steps__subcircle">
									02
								</div>

								<img src="/img/steps-coffee-beans.png" class="steps__img" alt="steps image">
							</div>

							<p class="steps__description">
								The beans are dried using a wet or dry 
								technique, depending on the taste we want 
								to obtain.
							</p>
						</div>

						<div class="steps__card">
							<div class="steps__circle">
								<div class="steps__subcircle">
									03
								</div>

								<img src="/img/steps-ground-coffee.png" class="steps__img" alt="steps image">
							</div>

							<p class="steps__description">
								The coffee is roasted and acquires 
								its flavor by processing the grain 
								in ovens.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Testimonial -->
		<section class="testimonial" id="testimonial">
			<div class="testimonial__bg section">
				<div class="testimonial__container container grid">
					<div class="testimonial__data">
						<h2 class="section__title">
							L'nueve Coffee Farm
						</h2>

						<span class="testimonial__name">
							Our farms are located over the mountains surrounding Costa Rica’s Central Valley,
                        specifically in San Luis, Grecia, Alajuela. Since our plantations sit at 4,900 feet above
                        sea level, our coffee obtains the benefits from a rich volcanic soil and an ideal all year
                        round weather for coffee farming.

                        The heart of our business is the family. Coffee brings us together. By producing the best
                        high-grown beans from this region of our country, we also aspire to bring other together
                        around a cup of our exquisite coffee. More than sharing a massively produced bean, we are
                        sharing a family experience with our customers.

                        In doing so, we are always reminded that every success our product has, is a direct result
                        from the seeds planted by our parents: Isidro Oviedo and Luzmilda Barrantes.
						</span>
					</div>

					<img src="/img/finca3.jpg" alt="" class="testimonial__img">
				</div>
			</div>
		</section>
	</main>

	<!-- Footer -->
	<footer class="footer">
		<div class="footer__bg">
			<img src="/img/coffee-beans-bg.png" alt="footer image" class="footer__bg-img">
			<div class="footer__container container grid">
				<div class="footer__data grid">
					<div>
						<a href="#" class="footer__logo">
							<img src="/img/logo.png" alt="logo image">
						</a>
						<span class="footer__copy">
							&#169; Copyright Iguana Republic. All rights reserved
						</span>
					</div>
				</div>

				<div class="footer__content grid"></div>
			</div>
		</div>
	</footer>

	<a href="#" class="scrollup" id="scroll-up">
		<i class="ri-arrow-up-line"></i>
	</a>
	<script src="/js/scrollreveal.min.js"></script>
	<script src="/js/header.js"></script>
</body>
</html>