<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
  
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Iguana Republic</title>
  
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
        CSS
        ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="views/img/fav.png">
    <meta name="author" content="codepixer">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>Iguana Republic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  </head>
  
  <body style="background-image: url('/public/img/menu-bg.jpg'); background-size: cover; background-position: center;">

    <header id="header" class="header-scrolled">
      <div class="header-top">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-2 col-md-4 col-4 header-top-left no-padding">
              <div id="logo">
                <a href="/"><img src="img/logo.png" alt="" title="" width="250" height="100" /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <nav id="nav-menu-container">
            <ul class="nav-menu"st>
              <li class="menu-active"><a href="/">Home</a></li>
              <li><a href="/aboutUs">About Us</a></li>
              <li><a href="/#coffee">Products</a></li>
              <li><a href="/#blog">Blog</a></li>
                <li><a href="/login"><i class='bx bx-door-open' style="font-size: 18px; vertical-align: middle;"></i>Log In</a></li>
              </li>
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </div>
    </header><!-- #header -->
    
  

    <div class="container">
      <div class="row justify-content-center align-items-center vh-100">
          <div class="col-md-6">
              <div class="login-form bg-white p-4 rounded" style="margin-top: 100px;">
                    <h4 class="text-center mb-4">Iniciar Sesión</h4>
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="username">Usuario</label>
                            <input type="text" class="form-control" id="userClient" name="userClient" placeholder="Ingrese su usuario..." required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="passClient" name="passClient" placeholder="Ingrese su contraseña..." required>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                        <hr>
                        <p class="text-center mb-2">¿No tienes una cuenta? <a href="/register">Registrarse</a></p>
                        <p class="text-center"><a href="/resetpass">¿Olvidaste tu contraseña?</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (popper.js and jquery) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
