<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Iguana Republic</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
        CSS
        ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="views/img/fav.png">
    <meta name="author" content="codepixer">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>Iguana Republic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body style="background-image: url('/public/img/menu-bg.jpg'); background-size: cover; background-position: center;">

    <header id="header" class="header-scrolled">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-2 col-md-4 col-4 header-top-left no-padding">
                        <div id="logo">
                            <a href="/index"><img src="img/logo.png" alt="" title="" width="250" height="100" /></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-8 header-top-right no-padding">
                        <ul>
                            <li>Mon-Fri: 8am to 2pm</li>
                            <li>Sat-Sun: 11am to 4pm</li>
                            <li><a href="tel:(012) 6985 236 7512">(012) 6985 236 7512</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <nav id="nav-menu-container">
                    <ul class="nav-menu" st>
                        <li class="menu-active"><a href="/index">Home</a></li>
                        <li><a href="/aboutUs">About</a></li>
                        <li><a href="#review">Review</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li class="menu-has-children"><a href="">Pages</a>
                            <ul>
                                <li><a href="generic.html">Generic</a></li>
                                <li><a href="elements.html">Elements</a></li>
                            </ul>
                        <li><a href="/login"><i class='bx bx-door-open'
                                    style="font-size: 18px; vertical-align: middle;"></i>Iniciar Sesión</a></li>
                        </li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <!-- restablecer-contrasena.html -->
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-6">
                <div class="reset-password-form bg-white p-4 rounded" style="margin-top: 100px;">
                    <h4 class="text-center mb-4">Reset Password</h4>
                    <form action="/resetpass" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="emailResetPass" placeholder="Enter your email address..." required>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Send Password Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>