.small-container {
    border: 2px solid hsl(12, 8%, 48%);
    border-radius: 10px;
    padding: 30px;
    background: white;
}

p,
small {
    color: #000;
}

.cart-page {
    margin: 0px auto;
    position: relative;
    top: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: hsl(12, 24%, 32%);
    font-weight: normal;
}

tr:nth-child(odd):not(.total) {
    background: #ebebeb;
}

.total {
    background: transparent;
}

td {
    padding: 10px 5px;
    color: #000;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
    background: transparent;
    border: 2px solid hsl(12, 8%, 48%);
    color: #000;
    font-weight: bold;
}

td a {
    color: hsl(39, 62%, 45%);
    font-size: 12;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;
}

.total-price table {
    border-top: 3px solid hsl(12, 8%, 48%);
    width: 100%;
    max-width: 350px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.checkout {
    display: flex;
    justify-content: flex-end;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 850px) {
    .cart-page {
        top: 15px;
    }
}