:root {
  --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
  outline: none;
  text-decoration: none;
  border: none;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  width: 300%;
}

.products .box-container .box {
  text-align: center;
  border: 1.5px solid black;
  padding: 2rem;
}

.products .box-container .box .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: 2px solid black;
  color: #000;
  margin: .3rem;
  padding: 3px;
}

.products .box-container .box a:hover {
  background: white;
}

.products .box-container .box .image {
  height: 14rem;
}

#prodImg {
  max-width: 9rem;
}