.button-normal {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 24px;
  line-height: 1.15;
  margin: 0 0;
  outline: none;
  overflow: hidden;
  padding: 1px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 25%;
  display: inline-block;
}

.button-normal:disabled {
  cursor: default;
}

.button-normal:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.button-danger {
    appearance: button;
    backface-visibility: hidden;
    background-color: #e62b1d;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 24px;
    line-height: 1.15;
    margin: 0 0;
    outline: none;
    overflow: hidden;
    padding: 1px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 25%;
    display: inline-block;
  }
  
  .button-danger:disabled {
    cursor: default;
  }
  
  .button-danger:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }

  .submit {
    position: relative;
    background: #000;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    width: 270px;
    cursor: pointer;
  }

  body.dark .submit {
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    width: 270px;
  }

  .submit:hover,
  body.dark .submit:hover {
    background: #1e9bff;
    letter-spacing: 0.25em;
    width: 320px;
    box-shadow: 0 0 35px #1e9bff;
  }

  .submit::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #fff;
  }

  body.dark .submit::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #060714;
  }

  .submit span {
    position: relative;
    z-index: 1;
    pointer-events: none;
  }

  .submit i {
    position: absolute;
    inset: 0;
    display: block;
  }

  .submit i::before {
    content: "";
    position: absolute;
    top: 0;
    left: 80%;
    width: 30px;
    height: 4px;
    background: #fff;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }

  body.dark .submit i::before {
    content: "";
    position: absolute;
    top: 0;
    left: 80%;
    width: 30px;
    height: 4px;
    background: #060714;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }

  .submit:hover i::before,
  body.dark .submit:hover i::before {
    width: 40px;
    left: 20%;
  }

  .submit i::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 30px;
    height: 4px;
    background: #fff;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }

  body.dark .submit i::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 30px;
    height: 4px;
    background: #060714;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }

  .submit:hover i::after,
  body.dark .submit:hover i::after {
    width: 40px;
    left: 80%;
  }

  .cart-button {
    position: relative;
    width: 240px;
    height: 60px;
    border-radius: 8px;
    color: #fff;
    background: #006995;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease;
  }

  .cart-button:active {
    transform: scale(.9);
  }

  .cart-button .fa-shopping-cart {
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 2rem;
    color: #fff;
  }

  .cart-button .fa-box {
    position: absolute;
    top: -20%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-size: 1.2rem;
    color: #fff;
  }

  .cart-button .add-to-cart,
  .cart-button .added {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 700 16px "Open Sans";
  }

  .cart-button .added {
    opacity: 0;
  }

  .cart-button.clicked .fa-shopping-cart {
    animation: cart 1.5s ease-in-out forwards;
  }

  .cart-button.clicked .fa-box {
    animation: box 1.5s ease-in-out forwards;
  }

  .cart-button.clicked .add-to-cart {
    animation: text1 1.5s ease-in-out forwards;
  }

  .cart-button.clicked .added {
    animation: text2 1.5s ease-in-out forwards;
  }

  @keyframes cart {
    0% {
      left: -10%;
    }

    40%, 60% {
      left: 50%;
    }

    100% {
      left: 110%;
    }
  }

  @keyframes box {
    0%, 40% {
      top: -20%;
    }

    60% {
      top: 40%;
      left: 52%;
    }

    100% {
      top: 40%;
      left: 112%;
    }
  }

  @keyframes text1 {
    0% {
      opacity: 1;
    }

    20%, 100% {
      opacity: 0;
    }
  }

  @keyframes text2 {
    0%, 80% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }