<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New client</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/elements/buttons.css">
    <link rel="stylesheet" href="/css/elements/input.css">
</head>
<body onload="checkCookie()">
    <section id="sidebar">
		<div id="logo">
			<a href="/"><img src="/img/logo_alt.png" class="logo" alt="" title="" width="250" height="100" /></a>
		</div>
		<ul class="side-menu top">
			<li>
				<a href="/dashboard">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/category">
					<i class='bx bx-store-alt'></i>
					<span class="text">Categories</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/products">
					<i class='bx bxs-shopping-bag' ></i>
					<span class="text">Products</span>
				</a>
			</li>
			<li class="active">
				<a href="/dashboard/clients">
					<i class='bx bxs-group' ></i>
					<span class="text">Clients</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/orders">
					<i class='bx bx-food-menu'></i>
					<span class="text">Orders</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/suppliers">
					<i class='bx bx-coffee'></i>
					<span class="text">Suppliers</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

    <section id="content">
        <nav>
            <i class='bx bx-menu' ></i>
            <a href="#" class="nav-link">Clients</a>

            <form action="#">
                <div class="form-input">
                    <input type="search" name="" id="">
                    <button type="submit" class="search"><i class='bx bx-search' ></i></button>
                </div>
            </form>

            <input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
        </nav>

        <main>
            <div class="head-title">
				<div class="left">
					<h1>Make a new client</h1>
					<ul class="breadcrumb">
						<li>
							<a class="active" href="/dashboard/clients">Clients</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a href="#">New client</a>
						</li>
					</ul>
				</div>
			</div>

            <div class="form" id="form">

                <form action="/dashboard/clients/newclient" method="post">
                    <div class="leftside">
                        <div class="inputBox">
                            <input type="text" name="nameClient" id="nameClient" required>
                            <span>Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="email" name="mailClient" id="mailClient" required>
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="nationClient" id="nationClient" required>
                            <span>Country</span>
                        </div>
                        <div class="inputBox">
                            <input type="number" name="phoneClient" id="phoneClient" required>
                            <span>Phone</span>
                        </div>
        
                        <div class="inputBox">
                            <input type="text" name="addressClient" id="addressClient" required>
                            <span>Address</span>
                        </div>

                        <button class="submit"><span>Create new client</span><i></i></button>
                    </div>
    
                    <div class="rigthside">
                        <div class="inputBox">
                            <input type="text" name="userClient" id="userClient" required>
                            <span>User</span>
                        </div>

                        <div class="inputBox">
                            <input type="text" name="passClient_hash" id="passClient_hash" required>
                            <span>Password</span>
                        </div>

                        <div class="inputBox" id="menu">
                            <input type="text" class="menu" name="userAdmin" id="userAdmin" readonly placeholder="Select type">
                            <div class="option">
                                <div onmouseover="show('Usuario')">Usuario</div>
                                <div onmouseover="show('Administrador')">Administrador</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </section>
	<script src="/js/dashboard.js"></script>
	<script src="/js/dropdown.js"></script>
    <script src="/js/vendor/jquery-3.7.1.min.js"></script>
	<script src="/js/reset.js"></script>
    <script src="/js/form/product.js"></script>
</body>
</html>