<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New product</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/elements/buttons.css">
    <link rel="stylesheet" href="/css/elements/input.css">
</head>
<body>
    <section id="sidebar">
		<div id="logo">
			<a href="/"><img src="/img/logo_alt.png" class="logo" alt="" title="" width="250" height="100" /></a>
		</div>
		<ul class="side-menu top">
			<li>
				<a href="/dashboard">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/category">
					<i class='bx bx-store-alt'></i>
					<span class="text">Categories</span>
				</a>
			</li>
			<li class="active">
				<a href="/dashboard/products">
					<i class='bx bxs-shopping-bag' ></i>
					<span class="text">Products</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/clients">
					<i class='bx bxs-group' ></i>
					<span class="text">Clients</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/orders">
					<i class='bx bx-food-menu'></i>
					<span class="text">Orders</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/suppliers">
					<i class='bx bx-coffee'></i>
					<span class="text">Suppliers</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

    <section id="content">
        <main>
            <div class="head-title">
				<div class="left">
					<h1>Make a new product</h1>
					<ul class="breadcrumb">
						<li>
							<a class="active" href="/dashboard/products">Products</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a href="#">New product</a>
						</li>
					</ul>
				</div>
			</div>

            <div class="form" id="form">

                <form action="/dashboard/products/newproduct" method="post" enctype="multipart/form-data">

                    <div class="leftside">
                        <div class="inputBox">
                            <input type="text" name="nameProd" id="nameProd" required>
                            <span>Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="number" name="priceProd" id="priceProd" required>
                            <span>Price</span>
                        </div>
                        <div class="inputBox">
                            <input type="number" name="stockProd" id="stockProd" required>
                            <span>Stock</span>
                        </div>
                        <div class="inputBox">
                            <textarea maxlength="130" name="shortDescProd" id="shortProd" type="text" required></textarea>
                            <span>Short description</span>
                        </div>
        
                        <div class="inputBox">
                            <textarea class="description" name="descProd" id="descProd" type="text" required></textarea>
                            <span>Description</span>
                        </div>

                        <button class="submit"><span>Create new product</span><i></i></button>
                    </div>
    
                    <div class="rigthside">
                        <div class="inputBox" id="menu">
                            <input type="text" class="menu" name="cateProd" id="cateProd" readonly placeholder="Select category">
                            <div class="option">
                                <% for (var i = 0; i < categories.length; i++) { %>
                                    <div onmouseover="show('<%- categories[i].nomCate %>')"><%- categories[i].nomCate %></div>
                                <% } %>
                            </div>
                        </div>

                        <label for="input-file" id="drop-area">
                            <input type="file" accept="image/*" name="image" id="input-file" hidden>
                            <div id="img-view">
                                <img src="/img/icon.png">
                                <p>Drag and drop or click here<br>to upload image</p>
                                <span>Upload any images from the desktop</span>
                            </div>
                        </label>
                    </div>
                </form>
            </div>
        </main>
    </section>
	<script src="/js/dashboard.js"></script>
	<script src="/js/dropdown.js"></script>
	<script src="/js/reset.js"></script>
    <script src="/js/vendor/jquery-3.7.1.min.js"></script>
    <script src="/js/form/product.js"></script>
</body>
</html>